# Movies Recommender

<img src="figures/recommendation-system-project.png" width="50%">

In [1]:
# load libraries
import pandas as pd 
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity as cos
from sklearn.metrics import jaccard_score as jacc

## Paso 1: Se calcula una matriz de puntuaciones o interacción usuario-ítem (L100x5)

### Lectura de datos de ratings de películas:


- **userId**: id del usuario.

- **MovieId**: id de la película.

- **Rating**: puntuación que da el usuario a cada película.

- **Timestamp**: Marca temporal del registro en BBDD.

In [2]:
# Load the dataset 
ratings = pd.read_csv("../datasets/ratings.csv", encoding='"ISO-8859-1"')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### Tratamiento de datos

Veamos cuantas películas hay en el dataset.

In [3]:
# Nº de películas del dataset
np.unique(ratings["movieId"]).shape

(9724,)

Por motivos de reducir la complejidad computacional vamos a quedarnos solo con las primeras 100 películas.

In [4]:
# escogemos un subconjunto de datos para poder trabajar más fácilmente, las 100 primeras películas
num_movies = 100
ratings = ratings[ratings["movieId"] < np.unique(ratings["movieId"])[num_movies]]
np.unique(ratings["movieId"]).shape

(100,)

Eliminamos las columnas que no nos hacen falta.

In [5]:
# eliminamos la columna timestamp
del ratings['timestamp']

Como habréis notado, el formato del dataset es distinto al que necesitamos, es decir, una matriz L donde cada fila es un usuario y cada columna un item.

Para transformar el dataset original a esta matriz L utilizaremos el método de Pandas llamado pivot_table

In [6]:
help(pd.pivot_table)

Help on function pivot_table in module pandas.core.reshape.pivot:

pivot_table(data: 'DataFrame', values=None, index=None, columns=None, aggfunc: 'AggFuncType' = 'mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False, sort=True) -> 'DataFrame'
    Create a spreadsheet-style pivot table as a DataFrame.

    The levels in the pivot table will be stored in MultiIndex objects
    (hierarchical indexes) on the index and columns of the result DataFrame.

    Parameters
    ----------
    data : DataFrame
    values : column to aggregate, optional
    index : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table index.  If an array is passed,
        it is being used as the same manner as column values.
    columns : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table column.  If an array is passed,
        it is being used as the same manner as column values.
    aggfunc : function, list of functions, dict, default numpy.mean
        If list of functions passed, the resulting pivot table will have
        hierarchical columns whose top level are the function names
        (inferred from the function objects themselves)
        If dict is passed, the key is column to aggregate and value
        is function or list of functions.
    fill_value : scalar, default None
        Value to replace missing values with (in the resulting pivot table,
        after aggregation).
    margins : bool, default False
        Add all row / columns (e.g. for subtotal / grand totals).
    dropna : bool, default True
        Do not include columns whose entries are all NaN.
    margins_name : str, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.
    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. versionchanged:: 0.25.0

    sort : bool, default True
        Specifies if the result should be sorted.

        .. versionadded:: 1.3.0

    Returns
    -------
    DataFrame
        An Excel style pivot table.

    See Also
    --------
    DataFrame.pivot : Pivot without aggregation that can handle
        non-numeric data.
    DataFrame.melt: Unpivot a DataFrame from wide to long format,
        optionally leaving identifiers set.
    wide_to_long : Wide panel to long format. Less flexible but more
        user-friendly than melt.

    Examples
    --------
    >>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
    ...                          "bar", "bar", "bar", "bar"],
    ...                    "B": ["one", "one", "one", "two", "two",
    ...                          "one", "one", "two", "two"],
    ...                    "C": ["small", "large", "large", "small",
    ...                          "small", "large", "small", "small",
    ...                          "large"],
    ...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
    ...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
    >>> df
         A    B      C  D  E
    0  foo  one  small  1  2
    1  foo  one  large  2  4
    2  foo  one  large  2  5
    3  foo  two  small  3  5
    4  foo  two  small  3  6
    5  bar  one  large  4  6
    6  bar  one  small  5  8
    7  bar  two  small  6  9
    8  bar  two  large  7  9

    This first example aggregates values by taking the sum.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum)
    >>> table
    C        large  small
    A   B
    bar one    4.0    5.0
        two    7.0    6.0
    foo one    4.0    1.0
        two    NaN    6.0

    We can also fill missing values using the `fill_value` parameter.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum, fill_value=0)
    >>> table
    C        large  small
    A   B
    bar one      4      5
        two      7      6
    foo one      4      1
        two      0      6

    The next example aggregates by taking the mean across multiple columns.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': np.mean})
    >>> table
                    D         E
    A   C
    bar large  5.500000  7.500000
        small  5.500000  8.500000
    foo large  2.000000  4.500000
        small  2.333333  4.333333

    We can also calculate multiple types of aggregations for any given
    value column.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': [min, max, np.mean]})
    >>> table
                    D    E
                mean  max      mean  min
    A   C
    bar large  5.500000  9.0  7.500000  6.0
        small  5.500000  9.0  8.500000  8.0
    foo large  2.000000  5.0  4.500000  4.0
        small  2.333333  6.0  4.333333  2.0

In [7]:
# pivotamos la tabla de datos para obtener una matriz que contenga en las filas las películas 
# y en las columnas los usuarios con sus correspondientes puntuaciones
new_ratings = pd.pivot_table(ratings, values='rating', 
                     index=['userId'], 
                     columns='movieId')
new_ratings

movieId,1,2,3,4,5,6,7,8,9,10,...,102,103,104,105,106,107,108,110,111,112
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
6,NaN,4.0,5.0,3.0,5.0,4.0,4.0,3.0,NaN,3.0,...,1.0,NaN,4.0,3.0,NaN,NaN,NaN,5.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,3.5,NaN,NaN,NaN,3.5,3.5,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,2.0
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,3.0,NaN,NaN,3.0,NaN,4.0,3.0,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,5.0,4.0

Como veis, tenemos muchos missing values, que se corresponden con películas que un usuario determinado no ha puntuado. Reemplazaremos todos estos valores con el valor 0. 

Este es el approach más básico, sería mejor rellenar teniendo en cuenta las medias de las puntuaciones por usuario y película, pero a modo ilustrativo lo haremos así.

In [8]:
# cambiamos los NA por el valor 0
new_ratings = new_ratings.fillna(0)
new_ratings

movieId,1,2,3,4,5,6,7,8,9,10,...,102,103,104,105,106,107,108,110,111,112
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
6,0.0,4.0,5.0,3.0,5.0,4.0,4.0,3.0,0.0,3.0,...,1.0,0.0,4.0,3.0,0.0,0.0,0.0,5.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,3.5,0.0,0.0,0.0,3.5,3.5,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,2.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,3.0,0.0,0.0,3.0,0.0,4.0,3.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,5.0,4.0

La tabla final es una matriz L 529x100, es decir 529 usuarios y 100 películas

In [9]:
# dimensiones de la nueva tabla
new_ratings.shape

(529, 100)

## Paso 2: Se calcula una matriz de similitudes entre las películas (S100x100)

Utilizaremos de nuevo la distancia del coseno para calcular las similitudes entre items (películas en este caso).

In [10]:
# calcular la similitud del coseno entre películas

Comprobemos las dimensiones de la matriz de similitudes.

In [11]:
# ¿Cuáles son las dimensiones del matriz de similitudes?

## Paso 3: Multiplicar matriz de puntuaciones por la matriz de similitudes para obtener el ítem que tiene más probabilidad de interesarle a cada usuario

Multiplicamos la matriz sim 100x100 por las interacciones de cada usuario. Empezemos con un ejemplo con el usuario 4.

In [12]:
# Crear el vector de interés del usuario 4

Calculamos el item con el valor más alto para el usuario 4.

In [13]:
# ¿Cuál es el item con más interés para el user 4?

Por tanto, el usuario 4 tendría como principal película a recomendar la correspondiente al ID ¿?.

Ahora hacemos lo mismo para todos los usuarios en un único paso. Multiplicamos la matriz de las interacciones de todos los usuarios, L 529x100, por las similitudes sim 100x100.

De esta forma, obtenemos la matriz de interés I 529x100, donde: 

$$L_{529x100} \cdot S_{100x100} = I_{529x100}$$

In [14]:
# Crear la matriz de intereses de los usuarios

Comprobamos las dimensiones de esta matriz de intereses I.

In [15]:
# dimensiones de la matriz de intereses

Por último, sacamos la principal recomendación para cada usuario.

In [16]:
# sacar la película recomendada para cada usuario